$font: 'Century Gothic Regular', sans-serif;
$font-b: 'Century Gothic Bold', sans-serif;
$font-p: 'Playfair Display', serif;

$blue-c: #0E567F;
$text-c: #5ADDBC;
$green-c: #3CA188;
$orange-c: #DB8D44;
$white-c: #fff;

$tablet: 768px;
$laptop: 1024px;