.footer {
   position: relative;
   background: url("../images/footer-bgr.jpg") center no-repeat;
   background-size: cover;
   padding: 40px 20px;

   &::before {
      @include size(100%);
      @include align(true, true, absolute);
      content: "";
      background: rgba(0, 0, 0, 0.7);
   }

   &__list {
      border-bottom: none;
   }

   &__icon {
      color: #000;
      transition: all .3s ease;
   }

   &__view {
      background: $white-c;
      transition: all .3s ease;
   }

   &__social {
      justify-content: center;
      margin-bottom: 25px;
   }

   &__text {
      position: relative;
      text-align: center;
      color: $white-c;
   }

   &__angro {
      transition: all .3s ease;
      color: $white-c;
   }
}

@media (min-width: $tablet) {
   .footer {
      &__social {
         margin: 40px 0 30px;
      }

      &__icon {
         font-size: 1.5rem;
      }

      &__view {
         @include size(40px);
      }
   }
}

@media (min-width: $laptop) {
   .footer {
      &__content {
         flex-direction: column;
         flex-basis: 300px;
      }

      &__item {
         margin-bottom: 25px;
      }

      &__box {
         @include align(true, true, absolute);
      }

      &__link {
         background: $white-c;
         transition: all .3s ease;
         &:hover {
            background: #000;
         }
      }

      &__local {
         color: #000;
         transition: all .3s ease;
         &:hover {
            color: $green-c;
         }
      }

      &__angro {
         color: $white-c;
         &:hover {
            color: $green-c;
         }
      }
   }
}
