.header {
   background: url("../images/bgr-mobile.jpg") no-repeat center;
   background-size: cover;
   color: $white-c;
   min-height: 100vh;

   &__wrapper {
      min-height: calc(100vh - 220px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }

   &__text {
      text-align: center;
      font: 1.5rem $font-p;
      margin-bottom: 30px;
   }

   &__suptitle {
      font-size: 1.125rem;
      line-height: 1.625rem;
   }

   &__title {
      font-size: 5rem;
      display: flex;
      justify-content: center;
   }

   &__logo {
      position: relative;
      margin-bottom: 30px;
   }

   &__icon {
      @include align(true, true, absolute);
      font-size: 2.5rem;
   }

   &__content {
      margin-bottom: 8vh;
   }

   &__info {
      font-size: 2.5rem;
      color: $green-c;
      margin-bottom: 5vh;
      font-family: $font-b;
   }

   &__place {
      color: $white-c;
      font-size: 1.125rem;
      transition: all .3s ease;
   }

   &__box {
      text-align: center;
   }
}

@media (max-width: $tablet) {
   .header {
      &__suptitle {
         margin-top: 10vh;
      }
   }
}


@media (min-width: 667px) {
   .header {
      background: url("../images/bgr.jpg") no-repeat 50% 50%;
      background-size: cover;

      &__title {
         font-size: 7rem;
      }
      &__text {
         font-size: 1.6rem;
      }

      &__icon {
         font-size: 3.75rem;
      }

      &__suptitle {
         font-size: 1.3rem;
      }

      &__info {
         font-size: 3rem;
      }

      &__wrapper {
         min-height: calc(100vh - 156px);
      }
   }
}

@media (min-width: $laptop) {
   .header {
      background-attachment: fixed;
      &__title {
         font-size: 8.75rem;
         line-height: 3rem;
         margin-top: 50px;
         margin-bottom: 30px;
         justify-content: flex-start;
      }

      &__text {
         font-size: 2rem;
      }

      &__icon {
         font-size: 4.375rem;
      }

      &__box {
         margin-left: 20%;
         text-align: left;
      }

      &__place {
         &:hover {
            color: $green-c;
         }
      }
   }
}
