.layout {
   padding: 60px 0;
   text-align: center;
   position: relative;
   overflow-x: hidden;

   &__container {
      position: relative;
   }

   &__rooms {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__room {
      width: 270px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin-bottom: 35px;
      cursor: pointer;
      position: relative;
      transition: all 0.3s ease;
      background: $white-c;
      &--active {
         background: $blue-c;

         & .layout {
            &__count,
            &__text {
               color: $white-c;
            }
         }
      }
   }

   &__count {
      font-size: 3rem;
      color: $blue-c;
      margin-right: 30px;
      &--active {
         color: $white-c;
      }
   }

   &__text {
      line-height: 2rem;
      color: $blue-c;
      text-align: center;
      &--active {
         color: $white-c;
      }
   }

   &__wrapper {
      display: none;
      &--active {
         display: block;
      }
   }

   &__item {
      margin-bottom: 25px;
   }

   &__photo {
      @include size(330px, 240px);
      overflow: hidden;
      position: relative;
      margin: 0 auto;
      transition: all 0.3s ease;
   }

   &__img {
      @include size(100%);
      @include align(true, true, absolute);
      object-fit: contain;
   }

   &__arrow {
      @include size(50px);
      @include align(true, false, absolute);
      border: 1px solid transparent;
      border-radius: 50px;
      z-index: 50;
      cursor: pointer;
      top: 15%;
      transition: all .3s ease;
      &::before {
         @include size(100%);
         @include pos($t: 0, $l: -2px);
         content: "";
         background: url("../images/arrow.svg") center no-repeat;
         transition: all .3s ease;
      }

      &-prev {
         left: 0;
      }

      &-next {
         &::before {
            left: 2px;
            transform: rotate(180deg);
         }
      }
   }

   &__info {
      width: 320px;
      padding: 35px 20px;
      background: $blue-c;
      color: $white-c;
      border-radius: 20px;
      margin: 0 auto;
   }

   &__suptitile {
      font-size: 1.5rem;
      margin-bottom: 50px;
   }

   &__inner {
      width: 80%;
      margin: 0 auto 40px;
   }

   &__place {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
   }

   &__number {
      @include size(30px);
      line-height: 30px;
      color: $blue-c;
      border-radius: 50px;
      background: $white-c;
      margin-right: 30px;
   }

   &__sum {
      font-size: 1.5rem;
   }

   &__link {
      @include align(true, true, absolute);
   }

   &__circle {
      top: 5px;
      transform: translate(0);
      right: 5px;
   }

   &__green {
      right: 0;
      left: auto;
   }

   &__orange {
      left: auto;
      right: 75px;
      top: 150px;
   }

   &__blue {
      top: 0;
      left: auto;
      right: 150px;
   }

   &__long {
      transform: rotate(25deg);
   }
}

@media (min-width: 600px) {
   .layout {
      &__photo {
         @include size(530px, 360px);
      }
   }
}

@media (min-width: 600px) and (max-width: 1023px) {
   .layout {
      &__info {
         width: 500px;
      }

      &__inner {
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
   }
}

@media (min-width: 667px) {
   .layout {
      &__tabs {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &__room {
         width: 250px;
         margin: 0 10px 30px;
      }

      &__arrow {
         top: 25%;
         border-color: $green-c;

         &-prev {
            left: -55px;
         }

         &-next {
            right: -55px;
         }
      }
   }
}

@media (min-width: $tablet) {
   .layout {
      &__arrow {
         &-prev {
            left: -15px;
         }

         &-next {
            right: -15px;
         }
      }
   }
}

@media (min-width: $laptop) {
   .layout {
      padding: 100px 0;
      &__photo {
         @include size(600px, 525px);
         margin-left: 20px;
         cursor: pointer;
      }

      &__block {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &__arrow {
         top: 50%;
         &-next {
            right: -15px;
         }
         &:hover {
            background: $blue-c;
            opacity: .7;
         }
      }

      &__tabs {
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &__room {
         width: 330px;
         margin: 30px 25px 30px;
         padding: 35px 25px;
         justify-content: space-around;
         &:hover {
            transform: scale(1.05);
         }
      }

      &__count {
         font-size: 3.5rem;
         margin: 0;
      }

      &__text {
         font-size: 1.25rem;
      }

      &__circle {
         top: 100px;
         transform: translate(0);
         right: 0;
      }

      &__green {
         right: -100px;
         top: -100px;
      }

      &__orange {
         left: auto;
         right: -50px;
         top: 200px;
      }

      &__blue {
         top: -100px;
         left: auto;
         right: 100px;
      }

      &__arrow {
         border: none;

         &-next {
            right: -50px;
         }
      }
   }
}

@media (min-width: 1200px) {
   .layout {
      &__arrow {
         border: 1px solid $green-c;

         &-next {
            right: 0px;
         }
      }
   }
}
