.place {
   padding: 60px 0;
   background: url("../images/place-bgr.jpg") center no-repeat;
   background-size: cover;
   color: $white-c;
   text-align: center;

   &__wrapper {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      padding: 30px;
      text-align: left;
      display: flex;
      justify-content: center;
   }

   &__item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
         margin-bottom: 25px;
      }
   }

   &__icon {
      font-size: 2rem;
      color: $green-c;
      margin-right: 25px;
   }
}

@media (min-width: 500px) {
   .place {
      &__wrapper {
         width: 450px;
         margin: 0 auto;
      }
   }
}

@media (min-width: $tablet) {
   .place {
      & h2 {
         margin-bottom: 70px;
      }
      &__wrapper {
         padding: 50px;
         width: auto;
         display: inline-block;
      }
      &__icon {
         font-size: 3rem;
         margin-right: 40px;
      }

      &__text {
         font-size: 1.25rem;
      }
   }
}

@media (min-width: $laptop) {
   .place {
      background-attachment: fixed;
      padding: 100px 0;
   }
}
