.menu {
   position: relative;
   &__list {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #fff;
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
   }

   &__link {
      display: flex;
      align-items: center;
   }

   &__link {
      cursor: pointer;
   }

   &__text {
      font-size: 14px;
      color: $white-c;
      transition: all 0.3s ease;
   }

   &__view {
      @include size(30px);
      border-radius: 50px;
      background: $green-c;
      position: relative;
      margin-right: 20px;
      text-align: center;
      transition: all 0.3s ease;
   }

   &__icon {
      @include align(true, true, absolute);
      color: #fff;
      transition: all 0.3s ease;
   }

   &__social {
      display: flex;
      justify-content: flex-end;
      & li {
         margin-left: 30px;
      }
   }

   &__item {
      margin-bottom: 10px;
   }
}

@media (min-width: $tablet) {
   .menu {
      &__list {
         flex-direction: row;
         justify-content: space-between;
      }
   }
}

@media (min-width: 1200px) {
   .menu {
      &__content {
         display: flex;
      }

      &__link {
         margin-right: 25px;

         &:hover {
            & .menu {
               &__view {
                  background: $white-c;
               }
               &__icon {
                  color: $green-c;
               }
               &__text {
                  color: $green-c;
               }
            }

            & .footer {
               &__view {
                  background: #000;
               }
            }
         }
      }

      &__list {
         padding: 20px;
         margin-bottom: 25px;
      }
   }
}
