.title {
   font: 700 1.75rem $font-p;
   text-transform: uppercase;
   padding-left: 25px;
   margin-bottom: 40px;
   position: relative;
   display: inline-block;
   border-left: 4px solid $orange-c;
}

.btn {
   text-align: center;
   text-transform: uppercase;
   color: $orange-c;
   cursor: pointer;
   font-family: $font-b;
   padding: 15px 25px;
   border: 2px solid $orange-c;
   border-radius: 10px;
   transition: all 0.3s ease;
   margin-bottom: 50px;
   display: inline-block;
   transition: all 0.3s ease;
   position: relative;
   overflow: hidden;

   &::before,
   &::after {
      @include size(51%, 100%);
      @include align(true, false, absolute);
      content: "";
      transition: all 0.3s ease;
      background: $orange-c;
      opacity: 0;
   }

   &::before {
      left: -100px;
   }

   &::after {
      right: -100px;
   }

   &__text {
      position: relative;
      transition: all 0.3s ease;
      z-index: 10;
   }
}

.suptitle {
   position: relative;
   bottom: 8px;
   font-size: 0.8rem;
}

.text__bgr {
   display: none;
}

.circle {
   @include align(true, false, absolute);
   padding-bottom: 40px;

   &__item {
      @include size(200px);
      border-radius: 50%;
      opacity: 0.1;
   }

   &__blue {
      @include pos($t: 150px, $l: 75px);
      background: $blue-c;
   }

   &__green {
      @include pos($t: 0, $l: 0);
      background: $green-c;
   }

   &__orange {
      @include pos($t: 0, $l: 150px);
      background: $orange-c;
   }

   &__content {
      @include align(true, true, absolute);
      color: $white-c;
      text-align: center;
   }

   &__text {
      font-size: 2.25rem;
   }
}

@media (min-width: $tablet) {
   .title {
      font-size: 2.3rem;
   }

   .btn {
      margin-bottom: 25px;
      cursor: pointer;
   }

   .text__bgr {
      @include align(true, true, absolute);
      font: 700 5rem/10rem $font-p;
      user-select: none;
      display: block;
      text-transform: uppercase;
      opacity: 0.05;
      z-index: 1;
   }

   .suptitle {
      font-size: 1rem;
   }
}

@media (min-width: $laptop) {
   .title {
      font-size: 2.5rem;
   }

   .btn {
      padding: 15px 50px;
      z-index: 5;
      &:hover {
         border-color: transparent;
         &::before,
         &::after {
            opacity: 1;
         }

         &::before {
            left: 0;
         }

         &::after {
            right: 0;
         }

         & .btn__text {
            color: $white-c;
         }
      }
   }

   .text__bgr {
      font-size: 8rem;
      line-height: 15rem;
   }

   .circle {
      @include pos($t: -40px, $l: 0);

      &__item {
         @include size(400px);
      }

      &__blue {
         @include pos($t: 300px, $l: 150px);
      }

      &__green {
         @include pos($t: 0, $l: 0);
      }

      &__orange {
         @include pos($t: 0, $l: 300px);
      }

      &__text {
         font-size: 5rem;
      }
   }
}
